
* {
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: Arial;

}

.nav-logo {
    height: 50px;
    width: 100px;
}

.navbar {
    
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items:center ;
    justify-content: space-evenly;
}

.logo {
    background-image: url("./amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 1.5px solid transparent;
    border-radius: 2px;
   
}

.border:hover {
    border: 1.5px solid white;
}

.add-icon {
    display: flex;
}

/** box-2 **/

.add-first {
    font-size: 0.85rem;
    color: #cccccc;
    margin-left: 15px;
}
.add-second{
    font-size: 1rem;
    margin-left: 3px;
}
.border-set{
    height: 10px;
    padding-top: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding-bottom: 18px;
}

/* box-3 */

.nav-search{
    display: flex;
    background-color: white;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;
}
.nav-search:hover{
    border: 3px solid orange;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;

}
.search-icon{
    width: 45px;
    background-color: #eec230;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 20px;
}


/* box-4 */

span {
    font-size: 0.7rem;

}

/* box-5 */

.nav-second{
   font-size: 0.85rem;
   font-weight: 700;
}

/* box-6 */

.nav-cart i
{
    font-size: 30px;
}

/* --------panel-------- */
.back {
   background-color: #222f3d;
   height: 40px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   color: white;
   font-family: Arial;
}

.panel-ops p {
    display: inline;
    margin-left: 10px;
    
}
.panel-ops{
    width: 70%;
}
.panel-deals {
    font-weight: 700;
    font-size: 0.9rem;
}

/* --------hero-section---------- */
.hero-section {
    background-image: url(./hero_image.jpg);
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg:hover{
  
        border: 1.5px solid #0f1111;;
    
}
.hero-msg{
    height: 40px;
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 0.85rem;
    width: 97%;
    margin-bottom: 25px;
    
}
.hero-msg a {
    color: var("--text");
}

/* -----------shoping-section------------ */

.shop-section{

    display: flex;
    justify-content: space-evenly;
    background-color:#e2e7e6;
    font-family: arial;
}

.box-1
{
    height: 400px;
    width: 23%;
    background-color:white;
    margin: 15px;

}
.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1em;
    margin-bottom: 1rem;
    

}
.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
   
}
h2 {
    font-size: 23px;
    margin-top: 15px;
}
.box-content p {
    color: #007185;
}

/* ------------Footer------------- */

.footer-panel{
    background-color: #37475a;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    font-family: arial;
    height: 50px;
    font-size: 0.85rem;
}

/* ---------footer-last---------- */

.footer-last{
background-color: #232f3e;
justify-content: center;
display: flex;
gap: 70px;
font-size: 0.85rem;
padding-top:50px;
color: white;
font-family: Arial;

}

.footer-last p {
    padding: 5px;
    color: #dddddd;
 
}
.footer-content{
    font-size: 0.85rem;
    color: #ffffff;
    padding-left: 5px;
    padding-bottom: 7px;
}
.mini-arrange{
    padding-bottom: 20px;
}

/* ----------amazon-logo------------ */

.amazon-logo{
  
 height: 68px;
 width: 100%;
background-color: #222f3d;
 border: 1px solid #222f3d;
 justify-content: center;
 align-items: center;
 display: flex;
 /* border-bottom: white;
 border-left: #232f3e; */
 border-top-color: #dddddd;
}
.logo-png{
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 100px;
    padding-top: 4px;
}
.set{
    padding-top: 100px;
    background-color: #222f3d;
}



/* -----------------------------------------------responsive--------------------------------------------- */

.responsive
{
    display: flex;
    gap: 30px;
    padding-top: 10px;
}

@media (max-width:1100px)
{
    .responsive{
        display: none;
    }
}

@media (max-width:1100px){

    .responsive-2{
        font-size: 0.85rem;
        font-weight: 700;

    }
}